.header{
    
    color: white;
    min-height: 120vh;
    background: url("../../image/hero-bg.png") no-repeat;
    background-color: #000000;
}

.navbar{
    padding-top: 27px;
    padding-bottom: 27px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        &__img{
            display: block;
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__nav{

    }
    .toggle{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 20px;
        &::after, &::before{
            transition: transform .3s ease;
            content: "";
            width: 100%;
            height: 3px;
            background-color: rgb(243, 227, 8);
        }
    }
    .nav{   
        margin:0 auto;

        display: flex;
        column-gap: 30px;
        list-style: none;
        &__item{
            display: flex;
        }
        &__link{
            color: white;
            text-decoration: none;
        }
    }
}

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    &__title{
        font-weight: 900;
        font-size: 72px;
        line-height: 112%;
        /* identical to box height, or 81px */
        width: 70%;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 0;

    }
    
    &__description{
        line-height: 150%;
        text-align: center;
        color: #8B8B8B;
        width: 70%;
        margin:40px auto;
    }

    &__start{
        padding-left: 32px;
        padding-right: 32px;
        font-weight: 700;
        position: relative;

        display: flex;
        align-items: center;

        &:after{
            position: absolute;
            left: 100%;
            content:"";
            background:url("../../image/hero-btn-arrow.png") no-repeat;
            width: 99px;
            height: 69px;
            background-size: 100% 100%;
        }
    }

    &__second{
        margin-top:95px ;
        margin-bottom:91px;
        
    }

    .social{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 178px;
    
        &__item{
                position: absolute;
                
                &:nth-child(2n){
                    bottom: 0;
                }
                &:nth-child(2n+1){
                    top: 0;
                }
        }
        &__twitter{
            left: 0;
            z-index: 8;
        }
        &__pinterest{
            z-index: 7;
            right: 50%;
            transform: translateX(15%);
        }
        &__facebook{
            z-index: 6;
            left: 50%;
            transform: translateX(-15%);
        }
        &__reddit{
            right: 0;
            z-index: 5;
        }
    }
}

@media screen and (max-width: 1045px) {
    .navbar{
        &__logo{
            position: relative;
            z-index: 13;
        }
        .toggle{
            position: relative;
            z-index: 13;
            display: flex;
            cursor: pointer;
            &--active{
                &::before{
                    transform:translate(0, 8px) rotate(45deg);
                }
                &::after{
                    transform: translate(0, -8px) rotate(-45deg);
                }
            & ~ .navbar__menu{
                display: flex;
            }
            }


        }
        &__menu{
            position: fixed;
            flex-direction: column;
            top: 0;
            left: 0;
            display: none;
            width: 100%;
            height: 100vh;
            background-color: black;
            z-index: 12;
            
        }
        .nav{
            align-items: center;
            padding: 0;
            margin: 0;
            margin-top:auto ;
            margin-bottom: 10px;
            &__item{
                margin: 15px 0;
            }
        }
        .buttons{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 30px;
            &__btn{
                text-align: center;
            }
        }
        &__nav{
            flex-direction: column;
        }
    }

    .hero{
        &__title{
            font-size: 36px;
            width: 70%;
        }
        &__description{
            width: 70%;
            font-size: 14px;
            line-height: 21px;
        }

        &__start{
            &:after{
                display: none;
            }
        }

        &__second{
            // height: 304px;
        }

        .social{
            height: 304px;
            flex-direction: column;
            &__item{
                margin: -20px 0;
                position: relative;
                transform: none;
                // width: 100%;
            }
            &__pinterest{
                right: 0;
            }

            &__facebook{
                left: 0;
            }
        }
    }
}