.pricing{
    background-color: black;
    padding: 140px 62px;
    margin-top: 10px;
    &__title{
        font-weight: 700;
        font-size: 64px;
        line-height: 76px;
        /* identical to box height */

        text-align: center;
        color: #FFFFFF;
    }

    &__switch{
        margin: auto;
        display: flex!important;
        align-items: center;
        justify-content: center;
        &__input{
            &:checked ~ .pricing__switch__month{
                color: #f5f5f5;
                opacity: 0.5;
            }
            &:checked ~ .pricing__switch__year{
                color: #FFFFFF;
                opacity: 1;
            }
        }
        &__month{
            margin-right: 10px;
            position: absolute;
            color: white;
            right: 100%;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            /* identical to box height */
        }
        &__year{
            margin-left: -10px;
            position: absolute;
            left: 100%;
            color: #f5f5f5;
            font-size: 24px;
            opacity: 0.5;
            display: flex;
            align-items: center;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                left: 100%;
                width: 88px;
                opacity: 1;
                height: 66px;
                background:url("../../image/price-arrow.png") no-repeat;
                background-size: 100% 100%;
            }
        }
    }


    &__cards{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        
        .card{
            
            display: flex;
            flex-direction: column;
            background: #FAFAFA;
            border-radius: 16px;
            color: black;
            padding: 32px;
            width: 360px;
            height: 640px;
            &--center{
                background-color: #A8FF35;
            }
            &__header{
                padding-bottom: 32px;
                border-bottom: 1px solid #00000027;
                &__title{
                    margin: 0;
                    font-size: 36px;
                    line-height: 100%;
                }
                &__desc{
                    line-height: 100%;
                    margin:8px 0;

                }
            }

            &__body{
                display: flex;
                height:100%;
                flex-direction: column;
                padding-top: 32px;
                &__price{
                    font-size: 64px;
                    line-height: 100%;
                    margin: 0;
                    margin-bottom: 32px;
                    &:after{
                        content: "/Month";
                        font-size: 18px;
                        line-height: 100%;
                        font-weight: 400;
                    }
                }

                &__opportunity{
                    margin-top: 10px;
                }
                .opportunity{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    
                    &__item{
                        display: flex;
                        margin: 20px 0;
                        &::before{
                            content: "";
                            margin-right: 10px;
                            width: 24px;
                            height: 24px;
                            background:url("../../image/correct-icon.png") no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                }

                &__btn{
                    width: 100%;
                    text-align: center;
                    margin-top: auto;
                }
            }

        }
    }

    
}